:root {
    --azul-color: #15a7ed;
    --morado-color: #753392;
    --rosa-color: #e22594;
    --amarillo: #fbf205;
    --container-width: 1200px;
}

;


html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    color: floralwhite;
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-family: "Gorditas", serif;
    font-size: 3rem;
    text-shadow: 5px 0 10px black;
}

h3 {
    font-family: "Gorditas", serif;
    font-size: 3rem;
    text-shadow: 5px 0 10px black;
}

h4 {
    font-family: "Gorditas", serif;
    font-size: 2rem;
    text-shadow: 5px 0 10px black;
}

.section {
    padding: 2rem;
    margin-right: auto;
    margin-left: auto;
    min-height: 100vh;
    text-align: center;
    border: 1px;
    width: 100%; /*agregar*/
    max-width: 100%; /*agregar*/
    overflow-x: hidden;  /*agregar*/
}

.section[id='seccion1'] {
    padding: 0;
    

}



@media (max-width:768px) {
    .section {
        min-height: 0;
    }

}

.section[id='seccion2'] {
    min-height: 50%;
    background-color: var(--azul-color)
}

.section[id='seccion3'] {
    background-color: var(--morado-color);
}

.section[id='seccion4'] {
    background-color: var(--rosa-color)
}

.section[id='seccion5'] {
    background-color: var(--azul-color);
}

.section[id='seccion6'] {
    background-color: var(--morado-color);
}

.section[id='seccion7'] {
    background-color: var(--rosa-color);
}

.section[id='seccion8'] {
    background-color: var(--azul-color);
}

.section[id='seccion9'] {
    background-color: var(--morado-color);
    min-height: 50%;
}


.panel {
    position: fixed;
    z-index: 998;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--second-modal-color);
    opacity: 0;
    overflow-y: auto;
    transform: translate(100%, 0);
    transition: transform 0.3s ease, opacity 0.5s ease;
    position: fixed; /*agregar*/


}

.panel-btn {
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: 2vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c13591;
}

.menu {
    width: inherit;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #c13591;
    overflow-x: hidden;
}

.menu a {
    padding: 2rem;
    width: inherit;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: floralwhite;
    font-family: "Chicle", serif;
    transition: all 0.3 ease;
}



.menu a:hover {

    background-color: var(--azul-color);
}

.panel.is-active {
    transform: translate(0, 0);
    opacity: 1;
}

.hamburger:hover {
    background-color: var(--azul-color);
    opacity: 1;
}

.hamburger.is-active:hover {
    opacity: 1;
}



/*Boton Scroll Top*/

.scroll-top-btn {
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    left: 0;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    font-size: 3rem;
    font-weight: bold;
    background-color: #c13591;
    color: floralwhite;
    cursor: pointer;
    outline: 0;
    border: 0;
    transition: all 0.3s aese-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-top-btn:hover {
    background-color: var(--azul-color);

}

.hidden {
    opacity: 0;
    visibility: hidden;
}


/*MENU DE ESCRITORIO*/

@media screen and (min-width: 1024px) {


    .panel {
        background-color: rgb(193, 53, 145, 0.6);
    }

    .panel-btn {
        right: 0;

    }


    .menu {
        max-width: 250px;
        height: 100vh;
        position: absolute;
        right: inherit;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .menu a {
        padding: 0.75rem;
    }

    .menu a:hover,
    .menu a.active {

        background-color: var(--azul-color);
    }

    h2 {
        font-size: 5rem;
    }

    h3 {
        font-size: 4rem;
    }

    h4 {
        font-size: 3.5rem;
    }
    .section[id='seccion1']>img{
        max-width: 100%;
        min-height: 46.9rem;
        
    }

}

/* Contenido */
.contenedor-indice {
    display: flex;
}

.contenedor-indice li {
    padding: 1rem;

}

.lista {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.lista>li {
    font-family: "Chicle", serif;
    font-size: 3rem;

}

.segunda-lista {
    list-style: none;
    padding: 0;
}

.segunda-lista>li {
    font-family: "Chicle", serif;
    font-size: 2.5rem;
    color: black;
}

/* Sección Seis Sombreros */
.contenedor-imagenes {
    display: flex;
    flex-wrap: wrap;
}



.imagenes {
    width: 100%;
}

.imagenes img {
    width: 90%;
}

p {
    text-align: justify;
    font-family: "Chicle", serif;
    font-size: 3rem;
}

h4 {
    text-align: left;
}

.resaltar {
    color: black;
}

.link-p {
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
}

.link-a {
    color: blue;
}

/* Sobre Nosotros */
.info-nosotros {
    display: flex;
   
    flex-wrap: wrap;
}

.informacion {
    
    padding: 1rem;
}

.info-nosotros:last-child {
    justify-content: center;
}

.info img {
    width: 100%;
    height: 50%;

}

.info {
    border-radius: 5px;
    text-align: center;
    transition: all .5s ease;
}

.info:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 30px var(--azul-color);
}

.info p {
    font-size: 2rem;
    text-align: center;
    position: relative;
    bottom: 15px;
}

iframe {
  max-width: 100%; /*Darle a los iframes un ancho máximo del 100%*/
}

.contenedor-miro {
  overflow-x: hidden; /*propiedad overflow para que no salga el contenido*/
}

@media screen and (min-width: 1024px){
     /* Sobre Nosotros */
  .info-nosotros{
	display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 }
.informacion{
   flex: 0 0 calc(22.2% - 1rem);
   padding: 1rem ;
}
.info-nosotros:last-child{
   justify-content: center;
}
.info p{
	font-size: 1.5rem;
}
  /* Sección Seis Sombreros */
  .contenedor-imagenes{
	justify-content: space-around;
	
 }
}